@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-[#080808];
    @apply text-white;
    @apply font-mono;
    @apply mb-[50px];
  }
}


/* custom cursor */
* {
  cursor: none;
}

html {
  background-color: #080808;
}

#cursor-outline {
  width: 20px;
  height: 20px;
  background-color: #080808;
  opacity: 75%;
  position: absolute;

  z-index: 999;
  pointer-events:none;
  transition: all ease-in-out .5s;

  transform-origin: center;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg); 
}

/* transition in */
.container {
  min-width: 100%;
  animation: transition-in .75s;
}

@keyframes transition-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotateY(0); 
  }
}


/* CSS DEBUGGING PURPOSES
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/