@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-[#080808];
    @apply text-white;
    @apply font-mono;
    @apply mb-[50px];
  }
}


/* custom cursor */
* {
  cursor: none;
}

#cursor-outline {
  width: 25px;
  height: 25px;
  background-color: #080808;
  opacity: 75%;

  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg); 
}

#cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events:none;
}

/* transition in */
.container {
  min-width: 100%;
  animation: transition-in .75s;
}

@keyframes transition-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotateY(0); 
  }
}